html {
    font-size: 25px;
}

body {
    background-color: #333;
    color: whitesmoke;
}


header {
    font-family: monospace;
    p, a {
        font-size: 1rem;
        font-weight: 600;
    }
}

a {
    color: lightgray;
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: dodgerblue;
}

a:hover {
    color: #eee;
}

a:active {
    color: deepskyblue;
}

table, tr, td, th, caption {
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}

h2, h3, h4, h5, h6  {
    color: lightskyblue;
}

h1, h2 {
    text-decoration: underline;
}

h1 {
    text-align: center;
}

p, li, dl, dt, dd, details, figcaption, figure, li, main, nav, section, summary, hr {
    color: lightblue;
    font-size: 20px;
    line-height: 1.5;
}

input, button {
    font: inherit;
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: square;
}

ul li:nth-child(even) {
    color: lightskyblue;
}

.deepskyblue {
    color: deepskyblue;
}


.container {
    border: 2px double lightskyblue;
    padding: 1.5rem;
    margin: 1.5em 2em;
    /*margin-top: 1.5rem;*/
    /*margin-right: 2em;*/
    /*margin-left: 2em;*/
    /*margin-bottom: 2em;*/
    font-size: 1.2rem;
}

.circle {
    margin: 3rem auto;
    background-color: lightskyblue;
    width: 100px;
    height: 100px;
    border: 2px solid mediumblue;
    border-radius: 50%;
    outline: 2px double lightskyblue;
    outline-offset: 0.25rem;
}

.opposite {
    display: inline-block;
    background-color: lightskyblue;
    color: #333;
}

.left {
    float: left;
    margin-right: 2.5rem;
}

.columns {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    justify-content: center;
}

.columns p {
    margin-top: 0;
}

footer {
    background-color: #232323;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

footer p {
    margin: 0;
}

.containerwithboxes {
    display: grid;
    min-height: 400px;
    grid-template-columns: repeat(2, 1fr 2fr);
    grid-auto-rows: minmax(150px, auto);
    row-gap: 1rem;
    column-gap: 1rem;
}

.box {
    background-color: lightskyblue;
    color:#333;
    font-size: 2rem;
    padding: 0.5rem;
}

.box:first-child {
    grid-column: 1/4;
    grid-row: 1/3;
    background: linear-gradient(to right, lightskyblue, #3775e6);
}

.box:nth-child(2) {
    background-color: #e8e897;
}

.box:nth-child(3) {
    grid-row: span 2;
    background: linear-gradient(to right, aliceblue, lightskyblue);
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


#about-me {
    font-size: 28px;
}
