html {
    font-size: 1.3rem;
}


:root {
    --BGCOLOR: #333;
    --FOOTMENUCOLOR: #232323;
}

body {
    background-color: var(--BGCOLOR);
    color: whitesmoke;
}

header {
    font-family: monospace;
 }

a {
    color: lightgray;
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: dodgerblue;
}

a:hover {
    color: #eee;
}

a:active {
    color: deepskyblue;
}


table, tr, td, th, caption {
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}

h2, h3, h4, h5, h6  {
    color: lightskyblue;
}

h1, h2 {
    text-decoration: underline;
}

h1 {
    text-align: center;
    color: deepskyblue;
}

p, li, dl, dt, dd, details, figcaption, figure, li, main, nav, section, summary, hr {
    color: lightblue;
    font-size: 20px;
    line-height: 1.5;
}

input, button {
    font: inherit;
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: square;
}

ul li:nth-child(even) {
    color: lightskyblue;
}

.menu {
    background-color: var(--FOOTMENUCOLOR);
    width: 100%;
    margin: 0;
    padding: 0;
}

.menu-title-line {
    padding: 0.25rem 0.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.menu-title-line h2 {
    color: deepskyblue;
    text-decoration: none;
}

.menu-button {
    background-color: transparent;
    border: none;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-icon,
.menu-icon::before,
.menu-icon::after {
    background-color: lightskyblue;
    width: 40px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    transition: all 0.5s;

}

.menu-icon::before,
.menu-icon::after {
    content: "";
}

.menu-icon::before {
    transform: translate(-20px, -12px);
}

.menu-icon::after {
    transform: translate(-20px, +12px);
}

:is(header:hover, header:focus-within) .menu-icon {
    background-color: transparent;
    transform: rotate(720deg);
}

:is(header:hover, header:focus-within) .menu-icon::before {
    transform: translateX(-20px) rotate(45deg);

}

:is(header:hover, header:focus-within) .menu-icon::after {
    transform: translateX(-20px) rotate(-45deg);

}

:is(header:hover, header:focus-within) nav {
    display: block;

}

nav {
    display: none;
    transform-origin: top center;
    animation: showMenu 0.5s ease-in-out forwards;
    background-color: var(--FOOTMENUCOLOR);
}

@keyframes showMenu {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.2);
    }
    100% {
        transform: scaleY(1);
    }
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
}

nav li {
    padding: 0.5rem;
    border-top: 1px solid lightskyblue;
}

nav a {
    display: block;
    text-align: center;
    width: 80%;
    margin: auto;
}

nav a:any-link {
    color: lightskyblue;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover, nav a:focus {
    transform: scale(1.2);
    transition: all 0.3s;
}

.container {
    border: 2px double lightskyblue;
    padding: 1.5rem;
    margin: 1.5em 2em;
    /*margin-top: 1.5rem;*/
    /*margin-right: 2em;*/
    /*margin-left: 2em;*/
    /*margin-bottom: 2em;*/
    font-size: 1.2rem;
}

.circle {
    margin: 3rem auto;
    background-color: lightskyblue;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 50%;
    outline: 3px solid white;
    outline-offset: 0.25rem;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}

.circle:hover {
    background-color: deepskyblue;
    transform: scale(1.5) rotate(360deg);
    /*transition-property: background-color, transform;*/
    /*transition-duration: 2s, 2s;*/
    /*transition-delay: 0.5s;*/
    transition: all 2s 0.5s ease; /*same*/
}

.opposite {
    display: inline-block;
    background-color: lightskyblue;
    color: #333;
}

.left {
    float: left;
    margin-right: 2.5rem;
}

.columns {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    justify-content: center;
}

.columns p {
    margin-top: 0;
}

footer {
    background-color: var(--FOOTMENUCOLOR);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

footer p {
    margin: 0;
}

.containerwithboxes {
    display: grid;
    min-height: 400px;
    grid-template-columns: repeat(2, 1fr 2fr);
    grid-auto-rows: minmax(150px, auto);
    row-gap: 1rem;
    column-gap: 1rem;
}

.box {
    background-color: lightskyblue;
    color:#333;
    font-size: 2rem;
    padding: 0.5rem;
}

.box:first-child {
    grid-column: 1/4;
    grid-row: 1/3;
    background: linear-gradient(to right, lightskyblue, #3775e6);
}

.box:nth-child(2) {
    background: linear-gradient(to right, #e8e897, #37e6a3);
}

.box:nth-child(3) {
    grid-row: span 2;
    background: linear-gradient(to right, aliceblue, lightskyblue);
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}