html {
    font-size: 25px;
}

body {
    background-color: #333;
    color: whitesmoke;
}

header {
    font-family: monospace;
}

a {
    color: aliceblue;
}

a:visited {
    color: lightgrey;
}

a:hover, a:active {
    color: #eee;
}

table, tr, td, th, caption {
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}

h1, h2, h3, h4, h5, h6  {
    color: lightskyblue;
}

h1 {
    border: 2px dashed lightskyblue;
}
p, li, dl, dt, dd, details, figcaption, figure, li, main, nav, section, summary, hr {
    color: lightblue;
    font-size: 20px
}

.deepskyblue {
    color: deepskyblue;
}

#about-me {
    font-size: 28px;
}